@media (max-width: 600px) {
    #hero-section .container {
        padding: 32px 24px;
    }

    header {
        padding: 18px 20px;
    }

    header nav {
        display: none;
    }

    .container {
        width: 100%;
    }
    .mt-100{
        margin-top: 24px;
    }

    .mt-24{
        margin-top: 16px;
    }

    main {
        padding: 0px 20px;
    }

    h2 {
        font-size: 24px !important;
        font-weight: 800 !important;
    }

    header .logo a {
        font-size: 21.5px;
    }

    #hero-section .container {
        padding: 32px 24px;
    }

    #hero-section h1 {
        font-size: 22px;
    }

    #hero-section p {
        font-size: 14px;
        line-height: 21px;
    }

    #hero-section form {
        margin-top: 32px;
        grid-template-columns: 1fr;
    }

    #hero-section form select {
        max-width: 100%;
    }

    /* Popular tours responsive */

    #popular-tours .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    #popular-tours img{
        margin-top: 16px;
    }

    /* Popular tours responsive end */

    /* Destination responsive */

    #destination .gallery .row:first-child,
    #destination .gallery .row:nth-child(2),
    #destination .gallery .row:last-child
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px;
    }
    
    /* Destination responsive end */

    /* Why choose us */
    #why-choose-us .container .cards{
        grid-template-columns: 1fr;
    }

    /* Why choose us end */

    /* Deals and Discounts Responsive */
    #deals-discounts .deals{
        padding: 187px 16px 16px 16px;
    }

    #deals-discounts .deals ul li{
        margin-right: 16px;
        margin-top: 16px;
    }
    #deals-discounts .deals .wrapper{
        padding: 24px;
    }


    /* Deals and Discounts Responsive end */

    /* Perfect place responsive*/
    #perfect-place .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    #perfect-place video{
        margin-top: 16px;
        width: 610px;
    }
    /* Perfect place end */

}