/* root variables declaration */
:root {
    --global-font: 'Mulish', sans-serif;
    --white-color: #fff;
    --black-color: #131318;
    --light-color: rgba(224, 224, 235, 0.966);
    --orange-color: #ff5400;
    --text-beguni: #8400ff;
    --title-font-size: 40px;
}

/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--global-font);
}

.text-center {
    text-align: center;
}

.text-white {
    color: var(--white-color);
}

.text-black {
    color: var(--black-color);
}

.text-light {
    color: var(--light-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.text-beguni{
    color: var(--text-beguni);
}

.text-orange {
    color: var(--orange-color);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.text-title {
    font-size: var(--title-font-size);
    font-weight: 800;
}

.radius{
    border-radius: 16px;
}

/* Header */
header {
    padding: 50px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .logo a{
    font-size: 36px;
    font-weight: 800;
    text-decoration: none;
}

header .logo img{
    float: left;
    margin-right: 16px;
}


header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul a{
    text-decoration: none;
    padding: 10px 22px;
    line-height: 4;
    color: var(--black-color)
}

header nav ul a:hover,
header nav ul a.active{
    color: var(--orange-color);
}

header nav ul li:last-child a{
    padding: 0px;
}

/* Header end  */


/* Hero section  */
#hero-section .container{
    padding: 106px 185px;
    position: relative;
    background: url(../Images/hero-bg.png) no-repeat;
}

#hero-section .container::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.10) 100%);
    z-index: 1;
    border-radius: 16px;

}

#hero-section .wrapper{
    z-index: 2;
    position: relative;
}

#hero-section h1{
    font-size: 64px;
    font-weight: 800;
}

/* Hero section end */